<h1>Nova Categoria</h1>

<form method="POST" action="/categories/new">
  <label>Nome</label><br />
  <input type="text" name="name" required /><br /><br />

  <label>Descrição</label><br />
  <textarea name="description"></textarea><br /><br />

  <button type="submit">Criar</button>
</form>

<a href="/categories">Cancelar</a>